@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@plugin "@adam.plesnik/tailwindcss-scroll-driven-animations";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "syntaxia";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(28% 0 0);
  --color-base-200: oklch(23% 0 0);
  --color-base-300: oklch(19% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: #18a5f2;
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: #08bafa;
  --color-secondary-content: oklch(98% 0.016 73.684);
  --color-accent: #4070dc;
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(43% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --animate-rotate-border: border-rotate 3s linear infinite;
  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}
